[submodule "bundle/neobundle.vim"]
	path = bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule "bundle/vimproc"]
	path = bundle/vimproc
	url = https://github.com/Shougo/vimproc
[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule "vimmod/neobundle/neobundle.vim"]
	path = vimmod/neobundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule "vimmod/neobundle/vimproc"]
	path = vimmod/neobundle/vimproc
	url = https://github.com/Shougo/vimproc
